[Desktop Entry]
Encoding=UTF-8
Name=Assignment link 
Type=Link
URL=https://www.coursera.org/learn/linear-regression-model/supplement/LDoCh/project-information
Icon=text-html