[Desktop Entry]
Encoding=UTF-8
Name=Codebook for Movies dataset 
Type=Link
URL=https://d3c33hcgiwev3.cloudfront.net/_73393031e98b997cf2445132f89606a1_movies_codebook.html?Expires=1575590400&Signature=PmTPuhR6Jz4z902tLzvOO2-VokIj5DEb07s6S93ofp0FV8lcMi21yU1dagR3qBTizWu1ok~WTlNbognHN8qQjvfTtEBvSjWCTB-j0jVSk1GSaeilsgZpeDljt1JyllA2XUcgb~KkH794FQMpVlh4IUD6~WsKtfJpok~IBbYByx0_&Key-Pair-Id=APKAJLTNE6QMUY6HBC5A
Icon=text-html